*{
    margin: 0;
    padding: 0;
}


footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #080C30;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .container{
    display: flex;
    flex-wrap:wrap ;
    flex-direction: row;
    justify-content: space-between;
}

footer .container .sec{
    margin-right: 30px;
}

footer .rumahkue{
    width: 35%;
}

footer h2{
    position: relative;
    color: #ffff;
    font-weight: 500;
    margin-bottom: 15px;
}

footer .rumahkue p{
    color: #999;
}

.media{
    margin-top: 20px;
    display: flex;
}

.media li{
    list-style: none;
}

.media li a{
    display: flex;
    width: 40px;
    height: 40px;
    background: #ffff;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius:5px ;
}

.media i{
    color:black;
    font-size: 20px;
}

.media li a:hover{
    background-color: violet;
}

.produk{
    position: relative;
    width: 15%;
    margin-left: 20px;
}

.produk ul li{
    list-style: none;
}

.produk ul li a{
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

.produk li a:hover{
    color: #ffff;
}

.kontak{
    width: 25%;
}

.kontak ul{
    position: relative;
}

.kontak ul li{
    list-style: none;
    display: flex;
    margin-bottom: 16px;
}

.kontak li a{
    text-decoration: none;
    color: #999;
}

.kontak i{
    color: #ffff;
}

.kontak li span{
    margin-left: 10px;
}

.kontak ul li a:hover{
    color: #ffff;
}

.alamat{
    width: 20%;
}

.alamat ul{
    position: relative;
}

.alamat ul li{
    list-style: none;
    display: flex;
}

.alamat li a{
    text-decoration: none;
    color: #ffff;
}

.alamat span{
    color: #999;
    margin-left: 10px;
}

.alamat ul li a span:hover{
    color: #ffff;
}


