*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}

.sidebar{
  width: 250px;
  height: 100vh;
  left: 0px;
  top: 0px;
  background-color: #080C30;
  float: left;
  flex-direction: column;
}

.dashboard{
  display: flex;
  margin-left: 32px;
  margin-top: 10px;
  margin-bottom: 8px;
  padding: 5%;
  align-items: center;
}

.dashboard i{
  color: white; 
  padding-right: 20px;
}

.dashboard h2{
  font-size: 15px;
  font-weight: bold;
  color: white;
  margin-left: 5%;
}

.list_menu ul li i{
  margin-left: 40px;
  color: #fff;

}

ul li a{
  display: inline-block;
  margin-left: 15px;
  color: white;
  text-decoration: none;
  font-size: 14px;
  line-height: 40px;
  margin-bottom: 10px;
}

.list_menu ul li:hover{
  padding-left: 5px;
  transition: .4s;
}
