*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#manu{

    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100vh;


}
nav{
    width: 100%;
    height: 80px;
    line-height: 70px;
    padding: 20px;

}
nav h1{
    margin-left: 100px;
    font-weight: bold;
    color: white;

}
nav ul{
    float: right;
    margin-right: 200px;
    font-size: 20PX;
}
nav ul li {
    display: inline-block;
    padding: 10px;
    margin: auto;

  
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li a:hover{
    color: black;
    background-color:rgb(255, 255, 255);
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    
}

::-webkit-scrollbar{
    display: none;
}

footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #080C30;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .container{
    display: flex;
    flex-wrap:wrap ;
    flex-direction: row;
    justify-content: space-between;
}

footer .container .sec{
    margin-right: 30px;
}

footer .rumahkue{
    width: 35%;
}

footer h2{
    position: relative;
    color: #ffff;
    font-weight: 500;
    margin-bottom: 15px;
}

footer .rumahkue p{
    color: #999;
}

.media{
    margin-top: 20px;
    display: flex;
}

.media li{
    list-style: none;
}

.media li a{
    display: flex;
    width: 40px;
    height: 40px;
    background: #ffff;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius:5px ;
}

.media i{
    color:black;
    font-size: 20px;
}

.media li a:hover{
    background-color: violet;
}

.produk{
    position: relative;
    width: 15%;
    margin-left: 20px;
}

.produk ul li{
    list-style: none;
}

.produk ul li a{
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

.produk li a:hover{
    color: #ffff;
}

.kontak{
    width: 25%;
}

.kontak ul{
    position: relative;
}

.kontak ul li{
    list-style: none;
    display: flex;
    margin-bottom: 16px;
}

.kontak li a{
    text-decoration: none;
    color: #999;
}

.kontak i{
    color: #ffff;
}

.kontak li span{
    margin-left: 10px;
}

.kontak ul li a:hover{
    color: #ffff;
}

.alamat{
    width: 20%;
}

.alamat ul{
    position: relative;
}

.alamat ul li{
    list-style: none;
    display: flex;
}

.alamat li a{
    text-decoration: none;
    color: #ffff;
}

.alamat span{
    color: #999;
    margin-left: 10px;
}

.alamat ul li a span:hover{
    color: #ffff;
}


.image {
    position: relative;
    width: 400px;
}

.image__img {
    display: block;
    width: 100%;
}

.image__overlay {
    position: absolute;
    top: -20px;
    left: -120px;
    width: 350px;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
    margin: 20px;
    border-radius: 20px;
}

.image__overlays {
    position: absolute;
    top: -20px;
    left: -20px;
    width: 300px;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
    margin: 20px;
    border-radius: 20px;
}

.image__overlay--blur {
    backdrop-filter: blur(5px);
}
.image__overlays--blur {
    backdrop-filter: blur(5px);
}

.image__overlay--primary {
   backdrop-filter:blur(8px);
}

.image__overlays--primary {
    backdrop-filter:blur(8px);
 }

.image__overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image__overlays > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image__overlay:hover {
    opacity: 1;
}
.image__overlays:hover {
    opacity: 1;
}
.image__overlay:hover > * {
    transform: translateY(0);
}
.image__overlays:hover > * {
    transform: translateY(0);
}

.image__title {
    font-size: 2em;
    font-weight: bold;
}

.image__description {
    font-size: 1.25em;
    margin-top: 0.25em;
}