@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand';
    box-sizing: border-box;
}

body {
    background-color: #e7eaeb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
}

.side-bar {
    width: 20%;
    height: 100vh;
    background-color: white;
    box-shadow: 1px 1px 10px rgb(203, 203, 203) ;
}

.side-bar .logo {
    height: 7%;
    background-color: #999b84;
    box-shadow: 1px 1px 7px rgb(153, 153, 153);
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo a {
    text-decoration: none;
    color: whitesmoke;
    letter-spacing: 2px;
    font-weight: 700;

}

.profile {
    height: 140px;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.foto-profile img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.account-username {
    height: 34px;
    margin: 1% 38% 4% 38%;
}

.account-username a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.grey {
    height: 20px;
}

.grey p {
    font-size: 10.9px;
    font-weight: 500;
    color: rgb(163, 163, 163);
    margin-left: 3.9%;
    cursor: default;
}

.select-dashboard,
.select-datamurid,
.select-databuku,
.select-peminjamanbuku,
.select-pengembalianbuku,
.select-cetak {
    box-sizing: border-box;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    
}

.select-dashboard a,
.select-datamurid a,
.select-databuku a,
.select-peminjamanbuku a,
.select-pengembalianbuku a,
.select-cetak a {
    padding: 0;
    text-decoration: none;
    margin-left: 13.5%;
    color: rgb(81, 81, 81);
    font-weight: 600;
    font-size: 13.9px;
}

.select-dashboard a:hover,
.select-datamurid a:hover,
.select-databuku a:hover,
.select-peminjamanbuku a:hover,
.select-pengembalianbuku a:hover,
.select-cetak a:hover {
    color: #7c8054;
}

.select-dashboard:hover, 
.select-datamurid:hover,
.select-databuku:hover,
.select-peminjamanbuku:hover,
.select-pengembalianbuku:hover,
.select-cetak:hover {
    color: #999b84;
    background-color: #fbfbfb;
}

.addtable-search {
    display: flex;
    margin-top: 7%;
}

.addtable  {
    margin: 1% 16% 0 14%;
    margin-right: 33%;
}

.addtable h4 {
    width: 130px;
    background-color: #999b84;
    border-radius: 2px;
    padding: 4px;
    text-align: center;
}

h4 a{
    color: whitesmoke;
}

.search {
    width: 25%;
    height: 4%;
    background-color: rgb(203, 203, 203);
    border-radius: 18px;
    justify-content: center;
    margin-top: 2%;
    padding: 7px;
    cursor: text;
    margin-left: 2%;
}

.search-text {
    background-color: #999b84;
    padding: 4px;

}

.table {
    margin: 5%;
    width: 80%;
    background-color: whitesmoke;
    border-radius: 35px;
}

.addtable-search {
    display: flex;
    margin-top: 7%;
}

.addtable  {
    margin: 1% 10% 0 16%;
    margin-right: 29.4%;
}

.addtable h4 {
    width: 130px;
    background-color: #999b84;
    border-radius: 2px;
    padding: 4px;
    text-align: center;
}

h4 a{
    color: whitesmoke;
}

.search {
    width: 25%;
    height: 4%;
    background-color: rgb(203, 203, 203);
    border-radius: 18px;
    justify-content: center;
    margin-top: 2%;
    padding: 7px;
}

table {
    width: 500px;
}

th {
    padding: 10px;
    color: whitesmoke;
    background-color: #999b84;
    font-size: 15px;
}

th:first-child {
    background-color: #999b84;
    border-top-left-radius: 11px;

}

th:last-child {
    border-top-right-radius: 15px;
}

td {
    padding: 6px;
    font-size: 15px;
    font-weight: 600;
}

td:first-child {
    text-align: center;
}

td a {
    background-color: #999b84;
    border-radius: 2px;
    padding: 1px;
}

.table p {
    margin-top: 2.9%;
    font-size: 34px;
    font-weight: 700;
    color: black;
    text-align: center;
    cursor: default;
}

.table a {
    text-decoration: none;
    color: black;
}

.table h4 {
    margin: 8% 14% 1% 14%;
}

/* css tambah data */
.tambahdatamurid {
    margin: 5%;
    width: 80%;
    background-color: whitesmoke;
    border-radius: 35px;
}

.tambahdatamurid p {
    font-size: 22px;
    font-weight: 700;
    margin: 4% 0 4% 0;
    text-align: center;
}

.tambahdatamurid table {
    margin: 1% 10% 4% 22.5%;
    font-weight: 500;
    width: 90%;
    margin-top: 7%;
}

td #button-simpan {
    background-color: green;
    width: 100px;
    height: 30px;
    padding: 4px;
    border-radius: 7px;
    border: none;
    color: white;
    margin-left: 28%;
}

.input-tambahdata {
    border: none;
    width: 60vh;
    height: 30px;
    border-radius: 6px;
}

.tulisan {
    font-size: 17px;
    margin-right: 10%;
}